#large-title{
  font-family: Helvetica;
  font-size: 70px;
  font-weight:bold;
  color: white;
}

#large-title,
.header{
background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
}

.header {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}

.bottom{
  display:flex;
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  background-color: dimgray;
}
 footer a{
   margin: 0 0.2em;
   text-decoration:none;
   color:inherit;
 }
